body {
  margin: 0;
  padding: 0;
  font-family: var(--primary-font-family);
  background-color: var(--primary-bg-color);
}

#gameContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ffffff;
  margin-top: 40px;
}

canvas {
  background: #000000;
  border: 1px solid #ffffff;
  opacity: 0.8;
}

#canvasWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 20px;

  /*  center the canvas by translating the canvas wrapper 
        1/2 - canvas-width / (2 * (padding + gap + canvas-width + output-width)) */
  transform: translateX(14.7%);
}

#output {
  margin: 0;
  padding: 5px;
  background-color: #000000;
  opacity: 0.8;
  font-size: 20px;
  font-family: monospace;
  height: 540px;
  width: 200px;
  border: 1px solid #ffffff;
  overflow-y: auto;
  scrollbar-width: none;
}
