:root {
  --primary-bg-color: #404040;
  --primary-font-family: sans-serif;

  --primary-accent-color: #f0c674;

  --button-text-color: #3a526a;
  --button-hover-bg-color: #d4a93c;

  --menu-bg-color: rgba(58, 82, 106, 0.7);
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--primary-bg-color);
  font-family: var(--primary-font-family);
}

.bigTitle {
  margin-top: 3%;
  font-size: 46px;
  background: linear-gradient(to bottom, #ffffff, var(--primary-accent-color));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-wrap: nowrap;
}

.credits {
  color: #ffffff;
  font-size: 12px;
  position: absolute;
  bottom: 1%;
  right: 1%;
}

.bgVideo {
  position: fixed;
  top: 0;
  left: 0;
  width: 1980px;
  height: 1080px;
  object-fit: cover;
  z-index: -99;
  margin: 0;
  padding: 0;
}

.bgAttribution {
  position: absolute;
  bottom: 1%;
  left: 1%;
  font-size: 12px;
  color: #ffffff;
}

a {
  color: #ffffff;
  margin-right: 5px;
}

.ribbon {
  display: flex;
  flex-direction: row;
  top: 0;
  left: 0;
  width: 100%;
}

#settingsButton,
#backButton {
  margin: 10px;
  padding: 5px 10px;
  border-radius: 3px;
  border: 0;
  background-color: var(--primary-accent-color);
  color: var(--button-text-color);
  font-size: 18px;
}

#settingsButton:hover,
#backButton:hover {
  background-color: var(--button-hover-bg-color);
}

.soundButton {
  position: absolute;
  right: 1%;
  top: 1%;
  border: 0;
  background: url(media/img/soundOff.png) no-repeat center center;
  background-size: contain;
  background-color: transparent;
  width: 50px;
  height: 50px;
}
.soundButton.active {
  background: url(media/img/soundOn.png) no-repeat center center;
  background-size: contain;
}

button {
  cursor: pointer;
  opacity: 0.8;
}
button:hover {
  opacity: 1;
}

.title-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  transform: translate(calc(-0.5rem - 20px), 0);
  position: relative;
}

.info-button {
  background-color: white;
  background-image: url(media/img/information.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  width: 40px;
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 50%;
  padding: 1px;
}

.info-popup {
  display: none;
  position: absolute;
  background: var(--menu-bg-color);
  color: #ffffff;
  padding: 10px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  width: 250px;
  left: 50%;
  top: 50%;
  transform: translate(calc(-200px - 110%), 25px);
  z-index: 1000;
}
