#gameContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  
  margin: 0 auto;
  position: relative;
  width: 300px; /* damit alles kompakt bleibt */
  box-sizing: border-box;
}

canvas {
  background: #000;
  border: 1px solid #fff;
  width: 240px;
  height: 400px;
  display: block;
}

.canvasWrapper {
  position: relative;
  display: inline-block;
  width: 240px; /* etwas größer als Canvas für Effekte */
  height: 400px;
  padding: 20px;
}


#scoreInfo {
  display: none;
  max-width: 200px;
  word-wrap: break-word;
  margin: 5px;
  border: 2px solid var(--primary-accent-color);
  color: var(--primary-accent-color);
  padding: 5px;
  border-radius: 5px;
  text-align: left;
  font-size: 18px;
}



#gameMenu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  background: var(--menu-bg-color);
  padding: 10px;
  border-radius: 10px;
  width: 220px;
}

#gameMenu button {
  background: var(--primary-accent-color);
  color: var(--button-text-color);
  border: none;
  padding: 10px 20px;
  margin: 10px;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#scoreInfo {
 
  max-width: 120px;
  word-wrap: break-word;
  margin: 5px;
  border: 2px solid var(--primary-accent-color);
  padding: 5px;
  border-radius: 5px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}

#speedSlider {
  margin: 5px;
  -webkit-appearance: none;
  appearance: none;
  width: 90%;
  height: 10px;
  background: var(--primary-accent-color);
  border-radius: 5px;
  outline: none;
  opacity: 0.7;
  transition: opacity 0.2s;
}

#speedSlider:hover {
  opacity: 1;
}

#speedSliderLabel {
  font-size: 20px;
  color: var(--primary-accent-color);
  margin-bottom: 5px;
}
