#gameContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ffffff;
  margin-top: 40px;
  position: relative;
}

#gameMenu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  background: var(--menu-bg-color);
  padding: 10px;
  border-radius: 10px;
  visibility: hidden;
}
#gameMenu button {
  background: var(--primary-accent-color);
  color: var(--button-text-color);
  border: none;
  padding: 10px 20px;
  margin: 10px;
  border-radius: 5px;
  font-size: 20px;
  transition: background-color 0.3s ease;
}

.word {
  display: flex;
  justify-content: center;
  align-items: center;
}

.word input {
  width: 60px;
  height: 60px;
  font-size: 36px;
  text-align: center;
  margin: 5px;
  border-radius: 5px;
  border: 2px solid var(--primary-accent-color);
  background-color: transparent;
  font-weight: bold;
  scale: 1;
  transition: scale 0.2s ease-in-out;
  transition: border 0.2s ease-in-out;
  background: linear-gradient(to bottom, var(--primary-accent-color) 35%, #5d65fa);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.word input:focus {
  outline: none;
  border-color: var(--primary-accent-color);
  scale: 1.2;
  transition: scale 0.2s ease-in-out;
  border: 2px solid slategray;
  transition: border 0.4s ease-in-out;
}
@keyframes popIn {
  0% {
    transform: scale(0.8);
    opacity: 0.5;
  }
  50% {
    transform: scale(1.1);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}
@keyframes wrongWord {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(-5px);
  }
  40% {
    transform: translateX(5px);
  }
  60% {
    transform: translateX(-5px);
  }
  80% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0);
  }
}

.wordle-title {
  margin-bottom: 15px;
}

#infoPopup {
  left: 50%;
  top: 50%;
  transform: translate(calc(-160px - 110%), 25px);
  z-index: 1000;
}

#scoreInfo {
  display: none;
  max-width: 120px;
  word-wrap: break-word;
  margin: 5px;
  border: 2px solid var(--primary-accent-color);
  padding: 5px;
  border-radius: 5px;
  text-align: center;
  font-size: 21px;
  font-weight: bold;
  background-color: var(--primary-accent-color);
}
